body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: filter 0.5s ease-out;
}

.blur-weak::before {
    filter: blur(10px);
}

.blur-medium::before {
    filter: blur(4px);
}

.blur-strong::before {
    filter: blur(0px);
}


.form-card {
    background-color: rgba(255, 255, 255, 0.9);
}

.criteria-list li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.criteria-list img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

#togglePassword {
    cursor: pointer;
}

.container {
    z-index: 1;
}